@import "variables";

.layer-1 {
  background-color: $layer-1-color;
  height: 300px;
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 0;

  .building,
  .flats .flats-2 {
    top: -100px;
  }

  .building-1 {
    left: 5%;
  }

  .building-2 {
    left: 20%;
  }

  .building-4 {
    left: 70%;
  }

  .flats {
    left: 25%;
  }

  .tower-bridge {
    left: 40%;
  }

  .building-3 {
    left: 80%;
  }
}
